---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Card from "../components/Card.astro";
import Flyer_SpinSociety_SolCycle from "../assets/Flyer_SpinSociety_SolCycle.png";
---

<Layout title="Home">
    <Hero
      title="Spin Society"
      body="We are a passionate collective of DJs, driven by the resonance of our rhythmic souls through diverse sub-genres of EDM"
    />

    <div class="hero max-h-screen bg-base-200">
      <div class="hero-content flex-col lg:flex-row-reverse">
        <img
          src={Flyer_SpinSociety_SolCycle.src}
          alt="Spin Society's Sol Cycle Flyer"
          width="550"
          class="rounded-lg shadow-2xl lg:ml-20"
        />
  
        <div>
          <div class="badge badge-primary">INCOMING EVENT</div>
          <h1 class="text-4xl font-semibold mt-5">
            Spin Socety x Sitrus Sol Presents :
          </h1>
          <h1 class="text-7xl font-bold mt-5 mb-10">Sol Cycle</h1>
          <p><span>Location:&nbsp;</span>House of Sol</p>
          <p><span>Date:&nbsp;</span>October 7, 2023</p>
          <p><span>Time:&nbsp;</span>20:00 - 00:00</p>
  
          <div class="flex gap-3 mt-10">
            <button class="btn btn-primary bg-primary mt-10">
              <a
                href="https://www.instagram.com/spinsocietycu"
                target="_blank"
                rel="noopener noreferrer"
              >
                @spinsocietycu
              </a>
            </button>
  
            <button class="btn btn-secondary bg-secondary mt-10">
              <a
                href="https://www.instagram.com/sitrussol"
                target="_blank"
                rel="noopener noreferrer"
              >
                @sitrussol
              </a>
            </button>
          </div>
        </div>
      </div>
    </div>

    <ul role="list" class="link-card-grid">
      <Card
        title="Performers"
        href="/performers"
        body="Discover the individuals who grace our stage and captivate the audience."
      />
      <Card
        title="Instagram"
        href="https://www.instagram.com/spinsocietycu"
        newTab={true}
        body="Follow us for behind-the-scenes, stories, and more visual content."
      />
      <Card
        title="Events"
        href="/events"
        body="Stay updated with our latest events, gatherings, and event logs. Join us and be a part of the experience."
      />
      <Card
        title="About"
        href="/about"
        body="Get to know more about our mission, vision, and the passionate community behind the scenes. ❤️"
      />
    </ul>
</Layout>

<style>
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }
</style>
