---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Card from "../components/Card.astro";
---

<Layout title="Home">
    <Hero
      title="Spin Society"
      body="We are a passionate collective of DJs, driven by the resonance of our rhythmic souls through diverse sub-genres of EDM"
    />

    <div class="instructions">
      <div class="text-center text-md font-extralight mb-5">Upcoming Event</div>
      <h2 class="accent-light uppercase mb-1">
        <strong>Sitrus Sol</strong>
        <span class="font-extralight lowercase">&nbsp;x&nbsp;</span>
        <strong>Spin Society</strong>
      </h2>
      <p><span>Location:&nbsp;</span>Sitrus House</p>
      <p><span>Date:&nbsp;</span>October 7, 2023</p>
      <p><span>Time:&nbsp;</span>20:00</p>
    </div>

    <ul role="list" class="link-card-grid">
      <Card
        title="Performers"
        href="/performers"
        body="Discover the individuals who grace our stage and captivate the audience."
      />
      <Card
        title="Instagram"
        href="https://www.instagram.com/spinsocietycu"
        newTab={true}
        body="Follow us for behind-the-scenes, stories, and more visual content."
      />
      <Card
        title="Events"
        href="/events"
        body="Stay updated with our latest events, gatherings, and event logs. Join us and be a part of the experience."
      />
      <Card
        title="About"
        href="/about"
        body="Get to know more about our mission, vision, and the passionate community behind the scenes. ❤️"
      />
    </ul>
</Layout>

<style>
  .astro-a {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translatex(-50%);
    width: 220px;
    height: auto;
    z-index: -1;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
  .hero {
    letter-spacing: -0.125rem;
    margin: 5rem 0 5rem 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    margin-bottom: 2rem;
    border: 1px solid rgba(var(--accent-light), 25%);
    background: linear-gradient(
      rgba(var(--accent-dark), 66%),
      rgba(var(--accent-dark), 33%)
    );
    padding: 1.5rem;
    border-radius: 8px;
  }
  .instructions code {
    font-size: 0.8em;
    font-weight: bold;
    background: rgba(var(--accent-light), 12%);
    color: rgb(var(--accent-light));
    border-radius: 4px;
    padding: 0.3em 0.4em;
  }
  .accent-light {
    color: rgb(var(--accent-light));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }
</style>
